<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<style type="text/css">
    .content {
        max-width: 1000px;
        margin: auto;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring Start (WEB LAB#3)</title>
</head>
<body>
<div class="content">
    <h1>Spring Start (WEB LAB#3)
    </h1>
    <br/>
    <div class="content">
        <a href="/hospitalDepartments">Show HospitalDepartments</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/sessionTime.js}"></script>
</body>
</html>