<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring Start (WEB LAB#3)</title>
    <link rel="stylesheet" th:href="@{/css/form.css}" />
</head>
<body>
<div class="user-info" sec:authorize="isAuthenticated()">
    Username: <span sec:authentication="name"></span><br>
    User role(s):
    <span th:each="authority : ${#authentication.principal.getAuthorities()}">
        <span th:text="${authority.authority}"></span>
    </span>
</div>
<div class="content">
    <h1>Spring Start (WEB LAB#3-5)
    </h1>
    <br/>
    <div class="content">
        <a href="/hospitalDepartments">Show HospitalDepartments</a><br>
        <a href="/logout">Logout</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/sessionTime.js}"></script>
</body>
</html>