<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HospitalDepartments list (WEB Lab#3)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="user-info mt-3" sec:authorize="isAuthenticated()">
        Username: <span sec:authentication="name"></span><br>
        User role(s):
        <span th:each="authority : ${#authentication.principal.getAuthorities()}">
            <span th:text="${authority.authority}"></span>
        </span>
    </div>
    <h1 class="mt-4 mb-3">HospitalDepartments list (WEB Lab#3-5)</h1>
    <div class="row mb-3">
        <div class="col-md-3">
            <form sec:authorize="hasAuthority('ADMIN')" action="hospitalDepartments/new" method="GET">
                <button type="submit" class="btn btn-primary" accesskey="d"> Add HospitalDepartments</button>
            </form>
        </div>
        <div class="col-md-3">
            <b><span>Filter by CodeBuilding:</span></b>
            <select class="form-control" id="CodeBuilding_filter" name="CodeBuilding_filter"
                    onchange="filterByCodeBuilding()">
                <option value="all">all</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-secondary" onclick="sortTableByInt(3)"> Sort by floor</button>
            <button class="btn btn-secondary" onclick="sortTableByInt(4)"> Sort by boxCount</button>
        </div>
        <div class="col-md-3">
            <b><label for="search-text"> Find By NameDep </label></b>
            <input type="text" class="form-control"
                   placeholder="Start typing nameDep" id="search-text"
                   onkeyup="tableSearch()">
        </div>
    </div>
    <table id="hospitalDepartments-table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>NameDep</th>
            <th>NameSDep</th>
            <th>CodeBuilding</th>
            <th>Floor</th>
            <th>BoxCount</th>
            <th colspan="2" sec:authorize="hasAuthority('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hd: ${hospitalDepartments}">
            <td th:text="${hd.getNameDep()}"></td>
            <td th:text="${hd.getNameSDep()}"></td>
            <td th:text="${hd.getCodeBuilding()}"></td>
            <td th:text="${hd.getFloor()}"></td>
            <td th:text="${hd.getBoxCount()}"></td>
            <td>
                <div class="row justify-content-center" >
                    <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/hospitalDepartments/edit/{id} (id=${hd.id})}">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </form>
                    <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/hospitalDepartments/del/{id} (id=${hd.id})}">
                        <button type="submit" class="btn btn-danger btn-block" onclick="return confirmation()">Delete
                        </button>
                    </form>
                    <form action="/patientDepartments" method="GET">
                        <input type="hidden" name="id" th:value="${hd.id}"/>
                        <button type="submit" class="btn btn-info btn-block" accesskey="d">View patients</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="/" method="get">
        <button type="submit" class="btn btn-secondary" accesskey="x">Back</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sessionTime.js}"></script>
</body>
</html>
