<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HospitalDepartments list (WEB Lab#3)</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="user-info" sec:authorize="isAuthenticated()">
    Username: <span sec:authentication="name"></span><br>
    User role(s):
    <span th:each="authority : ${#authentication.principal.getAuthorities()}">
        <span th:text="${authority.authority}"></span>
    </span>
</div>
<h1>HospitalDepartments list (WEB Lab#3-5)</h1>
<br>
<table style="border: #000000">
    <td style="border: #000000" sec:authorize="hasAuthority('ADMIN')">
        <form action="hospitalDepartments/new" method="GET">
            <button accesskey="d"> Add HospitalDepartments</button>
        </form>
    </td>
    <td style="border: #000000">
        <span>Filter by CodeBuilding:</span>
        <select id="CodeBuilding_filter" name="CodeBuilding_filter" onchange="filterByCodeBuilding()">
            <option value="all">all</option>
        </select>
    </td>
    <td style="border: #000000">
        <button onclick="sortTableByInt(3)"> Sort by floor</button>
        <button onclick="sortTableByInt(4)"> Sort by boxCount</button>
    </td>
    <td style="border: #000000">
        <b><label for="search-text"> Find By NameDep </label></b>
        <input type="text"
               placeholder="Start typing nameDep" id="search-text"
               onkeyup="tableSearch()">
    </td>
    <td style="border: #000000">
        <form action="hospitalDepartments" method="get">
            <button type="submit" accesskey="x">Reset</button>
        </form>
    </td>
</table>
<br>
<table id="hospitalDepartments-table">
    <th>NameDep</th>
    <th>NameSDep</th>
    <th>CodeBuilding</th>
    <th>Floor</th>
    <th>BoxCount</th>
    <th colspan="2" sec:authorize="hasAuthority('ADMIN')">Actions</th>
    </tr>
    <tr th:each="hd: ${hospitalDepartments}">
        <td th:text="${hd.getNameDep()}"></td>
        <td th:text="${hd.getNameSDep()}"></td>
        <td th:text="${hd.getCodeBuilding()}"></td>
        <td th:text="${hd.getFloor()}"></td>
        <td th:text="${hd.getBoxCount()}"></td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/hospitalDepartments/edit/{id} (id=${hd.id})}">
                <button type="submit"> Update</button>
            </form>
            <form th:action="@{/hospitalDepartments/del/{id} (id=${hd.id})}">
                <button type="submit" onclick="return confirmation()"> Delete</button>
            </form>
        </td>
    </tr>
</table>
<br><br>
<form id="emailForm" action="/email/send" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <input type="submit" value="Send">
    <p id="result"></p>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sessionTime.js}"></script>
</body>
</html>