<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PatientDepartments list (WEB Lab#3)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="bg-light">
<div class="container">
    <div class="user-info mt-3" sec:authorize="isAuthenticated()">
        Username: <span sec:authentication="name"></span><br>
        User role(s):
        <span th:each="authority : ${#authentication.principal.getAuthorities()}">
            <span th:text="${authority.authority}"></span>
        </span>
    </div>
    <h1>PatientDepartments list (WEB Lab#3-5)</h1>
    <br>
    <div class="row">
        <div class="col-md-2" sec:authorize="hasAuthority('ADMIN')">
            <form action="patientDepartments/new" method="GET">
                <button class="btn btn-primary" accesskey="d">Add patient</button>
            </form>
        </div>
        <div class="col-md-4">
            <b><label for="search-text"> Find By NameDep </label></b>
            <input type="text" class="form-control"
                   placeholder="Start typing nameDep" id="search-text"
                   onkeyup="tableSearch()">
        </div>
        <div class="col-md-3">
            <button class="btn btn-secondary" onclick="sortTableByInt(3)"> Sort by FullYears</button>
            <button class="btn btn-secondary" onclick="sortTableByInt(6)"> Sort by Number</button>
        </div>
        <div class="col-md-2">
            <form action="/patientDepartments" method="get" th:if="${not #lists.isEmpty(patientDepartments)}">
                <input type="hidden" name="id" th:value="${patientDepartments.get(0).department.id}"/>
                <button type="submit" class="btn btn-primary" accesskey="x">Reset</button>
            </form>
        </div>
    </div>
    <br>
    <table id="patientDepartments-table" class="table table-striped">
        <thead>
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>PName</th>
            <th>FullYears</th>
            <th>HospitalDepartment</th>
            <th>ArrivalTime</th>
            <th>Number</th>
            <th colspan="2" sec:authorize="hasAuthority('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hd: ${patientDepartments}">
            <td th:text="${hd.getSurname()}"></td>
            <td th:text="${hd.getName()}"></td>
            <td th:text="${hd.getPname()}"></td>
            <td th:text="${hd.getFullYears()}"></td>
            <td th:text="${hd.getHospitalDepartmentName()}"></td>
            <td th:text="${hd.getArrivalTime()}"></td>
            <td th:text="${hd.getNumber()}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <div class="row">
                    <div class="col-md-6">
                        <form th:action="@{/patientDepartments/edit/{id} (id=${hd.id})}">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form th:action="@{/patientDepartments/del/{id} (id=${hd.id})}">
                            <button type="submit" class="btn btn-danger" onclick="return confirmation()">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="/hospitalDepartments" method="get">
        <button type="submit" class="btn btn-secondary" accesskey="x">Back</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/script-filter.js}"></script>
<script th:src="@{/js/sessionTime.js}"></script>
</body>
</html>